<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yszt.base.dao.diary.StudentExpandMapper">
	
	<select id="query" parameterType="java.util.Map" resultType="java.lang.Integer">
		select id_ from Student where 1=1
		<if test="createBy != null">
		    and create_by = #{createBy}
		</if>
		<if test="userName != null">
		    and name = #{name}
		</if>
	</select>


</mapper>