<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yszt.base.dao.diary.AppVersionsExpandMapper">

	<select id="query" parameterType="java.util.Map" resultType="java.lang.Integer">
		select id_ from appVersions where enable_ = 1 
		<if test="findNewVersion != null">
			and appname = #{appname}
		</if>
	</select>
	
	
	
	
</mapper>